.lottery-schedule__logo {
  text-align: right;
}

.lottery-schedule__info-block {
  position: relative;
  top: 20px;
  padding: 15px 10% 20px 5%;
  background-color: #dcf0fa;
  border-radius: 15px;
}

.lottery-schedule__header {
  margin-bottom: 24px;
  color: #666;
  font-size: 32px;
  font-weight: 400;
}

.lottery-schedule__text {
  padding: 0 50px;
  margin: 6px;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

.lottery-schedule__text a {
  color: #004086;
}
