.ticket-tab {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  background-color: #003e83;
  border-radius: 10px;
}

.ticket-menu {
  display: flex;
  min-height: 80px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.ticket-menu__item {
  flex-grow: 1;
  height: 100%;
}

.ticket-menu__item--active .ticket-menu__btn {
  color: #000;
  background-color: #fff;
}

.ticket-menu__item--passed .ticket-menu__btn {
  color: #999;
  background-color: #fff;
}

.ticket-menu__btn {
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 5px 20px 30px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
}

.ticket-menu__item:not(:last-child) .ticket-menu__btn::before,
.ticket-menu__item:not(:last-child) .ticket-menu__btn::after {
  position: absolute;
  right: -20px;
  display: block;
  width: 35px;
  height: 50%;
  content: '';
  background-color: transparent;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.ticket-menu__item:not(:last-child) .ticket-menu__btn::before {
  top: 0;
  transform: skew(20deg);
}

.ticket-menu__item:not(:last-child) .ticket-menu__btn::after {
  bottom: 0;
  transform: skew(-20deg);
}

.ticket-menu__item--active:not(:last-child) .ticket-menu__btn::before,
.ticket-menu__item--active:not(:last-child) .ticket-menu__btn::after {
  background-color: #fff;
}

.ticket-menu__number {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: #003e83;
  font-size: 36px;
  font-weight: 700;
  background-color: #fff;
  border: 3px solid #0266a6;
  border-radius: 50%;
}

.ticket-menu__item--active .ticket-menu__number {
  color: #000;
  background: linear-gradient(to bottom, #ee6f40, #e9491f, #dc2a0f);
  border-color: #d8d3d3;
}

.ticket-menu__item--passed .ticket-menu__number {
  color: #999;
  background: linear-gradient(to bottom, #d6d6d6, #c7c7c7, #acacac);
  border-color: #dcdcdc;
}

.ticket-check__info {
  background-color: #fff;
  border-radius: 10px;
}

.ticket-info {
  box-sizing: border-box;
  min-height: 400px;
  padding: 20px 10%;
  color: #666;
  font-size: 14px;
}

.ticket-info--ticket-won {
  background: url('../../assets/imgs/money_maker.png') no-repeat right bottom;
}

.ticket-info--ticket-expertize {
  background: url('../../assets/imgs/magnifier.png') no-repeat right bottom;
}

.ticket-info__header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'PFSquareSansPro', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.ticket-info__subheader {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #e83d2b;
  font-family: 'PFSquareSansPro', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
}

.ticket-info__alert {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #e83d2b;
  font-size: 18px;
  font-weight: 500;
}

.ticket-info__info {
  color: #006730;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.ticket-info ul,
.ticket-info ol {
  padding-left: 20px;
}

.ticket-info__block {
  display: flex;
}

.ticket-info__block-item {
  margin-right: 40px;
}
