.news-page__header {
  align-items: baseline;
  justify-content: space-between;
  display: flex;
}

.news-page__date {
  color: #666;
  font-size: 12px;
}

.news-page__nav {
  position: relative;
  padding-left: 25px;
  margin-top: 15px;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
}

.news-page__nav::after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 15px;
  color: #fff;
  content: '>';
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  background-color: #003e83;
  border-radius: 50%;
  transform: translateY(-50%);
}

.news-page__title {
  font-family: 'PFSquareSansProBold', 'Arial', 'Helvetica', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.news-page__text {
  color: #666;
  font-size: 14px;
}

.news-page__text p {
  margin-top: 0;
  margin-bottom: 10px;
}
