.page--lottery .page__info-block:nth-of-type(2) {
  display: flex;
  margin-top: 20px;
  margin-bottom: 80px;
}

.page--lottery .page__info-block:nth-of-type(3) {
  margin-bottom: 60px;
}

.lottery-prize-banner {
  box-sizing: border-box;
  width: 460px;
  height: 74px;
  padding: 9px 20px;
  background: url('../../assets/imgs/prize_banner_bg_2.png') no-repeat top right,
  url('../../assets/imgs/prize_banner_bg_1.png') no-repeat top left;
  border: solid 1px #c9e3f3;
  border-radius: 10px;
}

.lottery-prize-banner__header {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.lottery-prize-banner__prize-block {
  align-items: flex-end;
  display: flex;
  overflow: hidden;
}

.lottery-prize-banner__prize-value {
  margin-left: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.page--lottery .page__news-tab {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 25px;
  margin-left: 34px;
}

.news-tab {
  padding: 0 20px 5px;
}

.news-tab__header {
  margin-top: 0;
  font-family: 'PFSquareSansPro', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
  font-size: 19px;
  font-weight: 300;
}

.news-tab__item {
  margin-bottom: 15px;
}

.news-tab__btn {
  position: absolute;
  bottom: -12px;
  z-index: 2;
  width: 123px;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  background-color: #003e83;
  border: 0;
  border-radius: 5px;
}

.news-tab__btn::after {
  position: absolute;
  top: 6px;
  right: -5px;
  display: block;
  width: 15px;
  color: #fff;
  content: '>';
  line-height: 15px;
  text-align: center;
  background-color: #003e83;
  border-radius: 50%;
}

.news-tab__bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-bottom-left-radius: 5px;
}
