.page--payments {
  background: url('../../assets/imgs/payments_bg.jpg') no-repeat right top;
}

.page-prize-banner__currency {
  margin-top: 10px;
}

.page-prize-banner__number:nth-last-of-type(3n) {
  margin-left: 30px;
}

.page--payments .page__info-block {
  display: flex;
}

.page--payments .page__lotteries {
  margin-top: 40px;
}
