.lottery-tab__header-block--horizontal {
  text-align: right;
}

.lottery-tab__header {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
}

.lottery-tab__header::after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 15px;
  color: #fff;
  content: '>';
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  background-color: #003e83;
  border-radius: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.lottery-tab__header a {
  color: inherit;
  text-decoration: none;
}
