.page--buy {
  background: url('../../assets/imgs/about_bg.jpg') no-repeat left top;
}

.page--buy .page__header {
  padding-left: 20px;
}

.page--buy .page__promo-item {
  display: inline-block;
  width: calc(50% - 20px);
  min-height: 280px;
  margin-right: 20px;
  vertical-align: top;
}

.buy-page__lottery-item--lotteries .buy-page-block__img {
  height: 128px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.buy-page-block {
  padding: 0 20px 10px;
  font-family: 'PFSquareSansPro', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
}

.buy-page-block__text {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

.buy-page-block__header {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 400;
}

.buy-page-block__banner {
  box-sizing: border-box;
  height: 128px;
  max-width: 400px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

.buy-page-block__banner--instant {
  background: url('../../assets/imgs/sell_points.png') no-repeat center center;
  background-size: cover;
}

.buy-page-block__text a {
  color: #004086;
  font-size: 18px;
}
