.page--history .page__text-block p:nth-child(odd) img {
  float: right;
  margin: 5px 0 20px 20px;
}

.page--history .page__text-block p:nth-child(even) img {
  float: left;
  margin: 5px 20px 20px 0;
}
