.page--press {
  background: url('../../assets/imgs/about_bg.jpg') no-repeat left top;
}

.page--press .page__subheader {
  margin-bottom: 36px;
}

.page__logo-block {
  margin-top: 100px;
}

.logo-list {
  align-items: center;
  display: flex;
}

.logo-list__item {
  box-sizing: border-box;
  width: 33%;
  padding: 15px;
  text-align: center;
}

.logo-list__img {
  width: auto;
  height: 50px;
}

.logo-list__link {
  display: block;
  font-size: 14px;
}
