.page--news .page__info-block {
  display: flex;
}

.news-list {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.news-list__entry {
  flex-basis: 48%;
  margin-bottom: 40px;
}
