.contact-form {
  color: #666;
  font-size: 14px;
}

.contact-form__input-block--btn-block {
  margin-top: 40px;
}

.contact-form__label {
  line-height: 1.5;
}

.contact-form__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: #666;
}

.contact-form__submit-btn {
  width: 84px;
  height: 27px;
  font-size: 13px;
}
