.lottery-slider__lottery-list {
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: flex;
  height: 223px;
  padding: 8px 40px 0;
  background: linear-gradient(to bottom, #fff 0%, #f4f4f4 45%, #eee 55%, #e6e6e6 100%);
}

.lottery-slider__lottery-item {
  position: relative;
  box-sizing: border-box;
  width: 326px;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 8px;
}

.lottery-item:hover {
  border: 1px solid #dfdfdf;
}

.lottery-item:hover::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  content: '';
  background: #fff;
  border: 1px solid #8eafcf;
  border-radius: 10px;
  transform: translateX(-50%) rotate(142deg) skew(13deg);
}

.lottery-item__logo {
  display: block;
  margin: auto;
}

.lottery-item__btn {
  width: 182px;
  margin: 15px auto 0;
  color: #fff;
  font-size: 17px;
  line-height: 33px;
}

.lottery-item--instant .lottery-item__btn {
  margin-top: 10px;
}

.lottery-item__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  border-radius: 10px;
}

.lottery-item:hover .lottery-item__wrapper {
  background-color: #fff;
}

.lottery-item__info {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.lottery-item__prize {
  display: block;
  margin: auto;
}

.lottery-slider__vertical-divider {
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, transparent 10%, #d7d7d7 60%, transparent 100%);
}

.lottery-slider__promo-tab {
  position: relative;
  height: 311px;
  background: url('../../assets/imgs/lottery_slider_bg.png') no-repeat left top;
}

.slide-info {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slide-info--0 {
  background: url('../../assets/imgs/lottery_slider_bg.png') no-repeat left top,
  url('../../assets/imgs/lottery_slider_slide_1.jpg') no-repeat right top;
}

.slide-info--1 {
  background: url('../../assets/imgs/lottery_slider_bg.png') no-repeat left top,
  url('../../assets/imgs/lottery_slider_slide_2.jpg') no-repeat right top;
}

.slide-info--2 {
  background: url('../../assets/imgs/lottery_slider_bg.png') no-repeat left top,
  url('../../assets/imgs/lottery_slider_slide_3.jpg') no-repeat right top;
}

.slide-info--3 {
  background: url('../../assets/imgs/lottery_slider_bg.png') no-repeat left top,
  url('../../assets/imgs/lottery_slider_slide_4.jpg') no-repeat right top;
}

.slide-info.slide-info--active {
  z-index: 2;
  opacity: 1;
}

.slide-info__wrapper {
  position: relative;
  align-items: center;
  display: flex;
  width: 520px;
  height: 100%;
  margin-left: 410px;
}

.slide-info__controls {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.slide-info__control-button {
  position: absolute;
  width: 42px;
  height: 130px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.slide-info__control-button:focus {
  opacity: 0.8;
}

.slide-info__control-button--prev {
  left: -80px;
  transform: scaleX(-1) translateY(-50%);
}

.slide-info__control-button--next {
  right: -80px;
  transform: translateY(-50%);
}

.slide-info__control-button::before,
.slide-info__control-button::after {
  position: absolute;
  display: block;
  width: 7px;
  height: 70px;
  content: '';
  background-color: #dcdee0;
  transform-origin: right bottom;
}

.slide-info__control-button::before {
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  transform: rotate(-30deg);
}

.slide-info__control-button::after {
  bottom: 0;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: rotate(30deg);
}

.lottery-slide-item {
  font-family: 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
  text-align: left;
}

.lottery-slide-item__header {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.lottery-slide-item__subheader {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.lottery-slide-item__text {
  margin-top: 0;
}

.lottery-slide-item__text a {
  color: #90d0ff;
  text-decoration: none;
}
