.information-tab {
  position: relative;
  top: 20px;
  padding: 15px 10% 20px 5%;
  margin-top: 200px;
  background-color: #dcf0fa;
  border-radius: 15px;
}

.information-tab__header {
  margin-bottom: 24px;
  color: #666;
  font-size: 32px;
  font-weight: 400;
}

.information-tab__text {
  padding: 0 50px;
  margin: 6px;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

.information-tab__link {
  color: #004086;
  font-size: 24px;
}

.information-tab__link:not(:last-child) {
  margin-right: 100px;
}
