.buy-lottery-banner {
  display: flex;
  height: 100%;
}

.buy-lottery-banner__item {
  flex-grow: 1;
  text-align: center;
}

.buy-lottery-banner__item:not(:last-of-type) {
  border-right: 1px solid #dbdbdb;
}

.buy-lottery-banner__item img {
  box-sizing: border-box;
  display: block;
  height: 74px;
  padding: 10px;
  margin: 10px auto 0;
}

.buy-lottery-banner__btn {
  width: 135px;
  margin: auto;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}
