.lottery-list {
  padding: 0;
  margin-top: 0;
  list-style: none;
}

.lottery-list__item {
  position: relative;
  display: inline-block;
  height: 130px;
  text-align: center;
  filter: grayscale(100%);
}

.lottery-list--vertical .lottery-list__item {
  width: 100%;
}

.lottery-list--horizontal .lottery-list__item {
  width: calc(100% / 3);
  vertical-align: top;
}

.lottery-list__item:hover,
.lottery-list__item--active {
  filter: none;
}

.lottery-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.lottery-list__item--sixfournine img {
  width: 132px;
}

.lottery-list__item--keno img {
  width: 149px;
}

.lottery-list__item--instant img {
  width: 200px;
}

.lottery-list__item button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.lottery-list__item-border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
}

.lottery-list__item-border--top {
  top: 0;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.lottery-list__item-border--bottom {
  bottom: 0;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
