.news-block {
  width: 100%;
}

.news-block__date {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 12px;
}

.news-block__link {
  color: #004086;
  font-family: 'PFSquareSansPro', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #004086;
}

.news-block__text {
  margin: 0;
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}
