.ticket-slider__main-slider {
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  overflow-x: hidden;
}

.ticket-slider__slide-list {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  display: inline-flex;
  width: 100%;
  min-height: 400px;
  overflow-x: hidden;
}

.ticket-slider__slide-item {
  flex-shrink: 0;
  box-sizing: border-box;
  width: calc(100% / 3);
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.ticket-slider__controls {
  position: absolute;
  top: 50%;
  left: 0;
  justify-content: space-between;
  display: flex;
  width: 100%;
  transform: translateY(-50%);
}

.ticket-slider__img-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 260px;
  margin-bottom: 30px;
}

.ticket-slide__img {
  max-width: 100%;
  max-height: 100%;
}

.ticket-slide__title {
  display: block;
  margin-bottom: 10px;
  color: #004086;
  font-size: 12px;
}

.ticket-slide__btn {
  display: inline-block;
  width: 124px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  text-decoration: none;
  background-color: #1574c0;
  border: none;
  border-radius: 10px;
}

.ticket-slide__max-prize {
  font-size: 12px;
}

.ticket-slide__max-prize span {
  display: block;
  margin-top: 5px;
  color: #8e047b;
}
