.site-footer {
  width: 80%;
  margin: 40px auto;
}

.site-footer__list {
  display: flex;
  padding: 14px 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.site-footer__item:not(last-child) {
  margin-right: 24px;
}

.site-footer__item a {
  color: #004086;
  font-size: 15px;
}

.site-footer__contacts {
  justify-content: space-between;
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #dbdbdb;
}

.footer-contacts__info-list {
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 12px;
  list-style: none;
}

.footer-contacts__info-item--copyright {
  color: #666;
}

.footer-contacts__info-item:not(last-child) {
  margin-right: 20px;
}

.footer-contacts__info-item a {
  color: #004086;
}

.footer-contacts__phone {
  position: relative;
  margin: 0;
  color: #999;
  font-family: 'PFSquareSansProBold', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
  font-size: 36px;
}

.footer-contacts__phone span {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  font-size: 10px;
  font-weight: 300;
}
