.social-tab {
  display: inline-block;
  width: 530px;
  padding: 10px 15px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

.social-tab__item {
  display: inline-block;
  float: left;
  vertical-align: top;
}

.social-tab__item--fb {
  width: 256px;
}

.social-tab__item--vk {
  width: 260px;
  height: 290px;
  background: none;
}

.social-tab__item--tw {
  width: 90px;
  height: 20px;
}
