.arrow-button {
  position: relative;
  display: block;
  min-width: 110px;
  padding: 0 15px 0 10px;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
  text-decoration: none;
  background-color: #003e83;
  border: 0;
  border-radius: 5px;
}

.arrow-button::after {
  position: absolute;
  top: 6px;
  right: -5px;
  display: block;
  width: 15px;
  content: '>';
  line-height: 15px;
  background-color: #003e83;
  border-radius: 50%;
}

.arrow-button--opened::after {
  transform: rotate(-90deg);
}

.arrow-button--closed {
  background-color: #e93d2b;
}

.arrow-button--closed::after {
  background-color: #e93d2b;
  transform: rotate(90deg);
}
