.control-btn {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  background-color: #dfdfdf;
  border: none;
  border-radius: 50%;
  transform-origin: center;
}

.control-btn:disabled {
  opacity: 0.5;
}

.control-btn--prev {
  transform: rotate(180deg);
}

.control-btn::before,
.control-btn::after {
  position: absolute;
  display: block;
  width: 15px;
  height: 3px;
  content: '';
  background-color: #676767;
  border-radius: 2px;
}

.control-btn::before {
  top: 11px;
  right: 8px;
  transform: rotate(45deg);
}

.control-btn::after {
  top: 20px;
  right: 8px;
  transform: rotate(-45deg);
}
