.border-block {
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.border-block__border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
}

.border-block__border--top {
  top: 0;
  border-top: 1px solid #dbdbdb;
}

.border-block__border--top-left {
  border-left: 1px solid #dbdbdb;
  border-top-left-radius: 5px;
}

.border-block__border--top-right {
  border-right: 1px solid #dbdbdb;
  border-top-right-radius: 5px;
}

.border-block__border--top-full {
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.border-block__border--bottom {
  bottom: 0;
  border-bottom: 1px solid #dbdbdb;
}

.border-block__border--bottom-left {
  border-left: 1px solid #dbdbdb;
  border-bottom-left-radius: 5px;
}

.border-block__border--bottom-right {
  border-right: 1px solid #dbdbdb;
  border-bottom-right-radius: 5px;
}

.border-block__border--bottom-full {
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.border-block--hasHover:hover .border-block__border,
.border-block--active .border-block__border {
  border-color: #eb4d22;
}

.border-block__btn {
  position: absolute;
  bottom: -12px;
  left: 0;
  z-index: 2;
}

.border-block__btn--padded {
  left: 20px;
}
