.winner-slider__main-slider {
  position: relative;
  width: 862px;
  margin: 0 auto 25px;
  text-align: center;
}

.winner-slider__city-changer {
  position: absolute;
  top: 20px;
  right: 0;
  color: #003e85;
  font-size: 18px;
  text-align: right;
  text-decoration: underline;
  border: none;
  outline: none;
}

.winner-slider__city-changer option {
  font-size: 14px;
}

.winner-slider__slide-list {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  display: inline-flex;
  width: 100%;
}

.winner-slider__slide-item {
  width: 213px;
  height: 213px;
  padding: 4px;
  margin-right: 15px;
  margin-left: 15px;
  background: url('../../assets/imgs/winner-avatar-frame.png') no-repeat center center;
  background-size: cover;
}

.winner-slider__slide-item:nth-child(2),
.winner-slider__slide-item:only-child {
  width: 314px;
  height: 312px;
  padding: 8px;
}

.winner-slider__slide-item:only-child {
  margin-right: auto;
  margin-left: auto;
}

.winner-slider__slide-item img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.winner-slider__controls {
  position: absolute;
  top: 50%;
  left: -50px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: calc(100% + 100px);
  transform: translateY(-50%);
}

.winner-slider__lottery {
  margin-bottom: 10px;
  color: #666;
  font-size: 12px;
  text-align: center;
}

.winner-slider__name {
  margin-bottom: 5px;
  color: #003f86;
  font-size: 40px;
  text-align: center;
}

.winner-slider__city {
  margin-bottom: 20px;
  color: #666;
  font-size: 17px;
  text-align: center;
}

.winner-slider__prize {
  margin-bottom: 5px;
  font-size: 26px;
  text-align: center;
}

.winner-slider__prize span {
  color: #8f2b8d;
}

.winner-slider__draw {
  color: #666;
  font-size: 12px;
  text-align: center;
}

.winner-slider__text {
  margin-top: 40px;
  font-size: 14px;
  line-height: 1.6;
}
