@font-face {
  font-family: 'PFSquareSansProBold';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/pfsquaresanspro-bold-webfont.eot');
  src: url('./assets/fonts//pfsquaresanspro-bold-webfont.woff') format('woff'),
  url('./assets/fonts//pfsquaresanspro-bold-webfont.ttf') format('truetype');
}

body {
  font-family: 'Verdana', 'Geneva', sans-serif;
}

.app {
  min-width: 1024px;
  /* font-family: 'PFSquareSansPro', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif; */
}

.fade-enter {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.fade-enter.fade-enter-active {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.content {
  position: relative;
}

.container {
  position: relative;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.page {
  min-height: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page__info-block {
  display: flex;
}

.page__info-block--shifted {
  box-sizing: border-box;
  padding-left: 15%;
}

.page__header {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 400;
}

.page__subheader {
  margin-top: 0;
  font-size: 21px;
  font-weight: 400;
}

.page__text {
  margin-top: 0;
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

.page__text--description {
  font-size: 11px;
}

.page__text--description a {
  font-style: italic;
}

.page__link {
  color: #003f86;
  outline: none;
}

.page__link--pdf {
  position: relative;
  padding: 5px 0 5px 25px;
  background: url('./assets/imgs/pdf_ico_small.png') no-repeat left center;
}

.page__lotteries--vertical {
  box-sizing: border-box;
  width: 270px;
  padding-left: 60px;
  margin-left: auto;
}

.page__tab {
  width: 48%;
  margin-right: 2%;
}

.page__slider {
  margin-top: 30px;
}

.page__banner {
  box-sizing: border-box;
  height: 128px;
  max-width: 400px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

.page__map {
  position: relative;
  margin-top: 50px;
  border-top: 5px solid #003f85;
}

.page__ticket-figure {
  display: inline-block;
  margin: 20px 0;
}

.page__ticket-figure:not(:last-child) {
  margin-right: 100px;
}

.page__ticket-figure figcaption {
  font-size: 12px;
  font-style: italic;
}

.page__ticket-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.page__scroll-arrow {
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 2;
}

.btn {
  box-sizing: border-box;
  display: block;
  color: #fff;
  font-family: 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(to bottom, #44aae0, #1476c1, #0269bb);
  border: 1px solid #3e496d;
  border-radius: 8px;
}

.btn--matchball:hover {
  background: linear-gradient(to bottom, #e99512, #e86607, #eb5701);
  border-color: #f08103;
}

.btn--keno:hover {
  background: linear-gradient(to bottom, #478634, #74c15e, #53b239);
  border-color: #7bca63;
}

.btn--instant:hover {
  background: linear-gradient(to bottom, #a734a7, #942394, #761976);
  border-color: #a734a7;
}

.site-nav__header {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  height: 163px;
  padding: 20px 20% 20px 10%;
  background: url('./assets/imgs/header_bg.gif') 100% 0 no-repeat;
}

.site-nav__logo img {
  display: block;
  width: 273px;
  height: 118px;
}

.site-nav__phone h6 {
  position: relative;
  padding-top: 24px;
  margin: 0;
  font-family: 'PFSquareSansProBold', 'Arial', 'Helvetica', sans-serif;
  font-size: 36px;
}

.site-nav__phone h6 span {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  color: #333;
  font-size: 10px;
  font-weight: 400;
}

.site-nav__menu-wrapper {
  padding: 0 5px;
  background: linear-gradient(to bottom, #0095e1, #004e94, #004086);
}

.site-nav__menu-list {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav__menu-item {
  flex-grow: 0;
  flex-shrink: 0;
}

.site-nav__menu-item:not(:last-child) {
  margin-right: 1px;
}

.site-nav__menu-link {
  box-sizing: border-box;
  display: block;
  padding: 0 23px;
  color: #fff;
  font-family: 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 46px;
  text-decoration: none;
  background: linear-gradient(to bottom, #8bcbef, #0059ac, #006ebf);
  border: 2px solid #004a9d;
  border-radius: 16px;
}

.site-nav__menu-link:hover {
  background: linear-gradient(to bottom, #8fd0f3, #0472c6, #008cd4);
  border-color: #0153b6;
}

.site-nav__menu-link.site-nav__menu-link--active {
  color: #90d0ff;
  background: linear-gradient(to bottom, #001f50, #003f85, #024fa4);
  border-color: #001845;
}

.site-footer__social-tab {
  margin: 20px 0 30px;
}
