#map {
  width: 100%;
  height: 500px;
  background-color: #dfdfdf;
}

.map-container__controls {
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 2;
  width: 100%;
}

.map-container__map-wrapper {
  overflow: hidden;
  transition: max-height 0.5s linear;
}

.map-container__map-wrapper--shown {
  max-height: 500px;
}

.map-container__map-wrapper--hidden {
  max-height: 0;
}
