.scroll-arrow {
  width: 50px;
  height: 50px;
  background-color: #003e83;
  border: none;
  border-radius: 50%;
}

.scroll-arrow::before,
.scroll-arrow::after {
  position: absolute;
  top: calc(50% - 2px);
  display: block;
  width: 15px;
  height: 2px;
  content: '';
  background-color: #fff;
}

.scroll-arrow::before {
  left: calc(50% + 5px);
  transform: translate(-50%, -50%) rotate(45deg);
}

.scroll-arrow::after {
  left: calc(50% - 5px);
  transform: translate(-50%, -50%) rotate(-45deg);
}
