.page--faq .page__subheader {
  margin-bottom: 40px;
  font-weight: 700;
}

.faq-block {
  margin-bottom: 60px;
}

.faq-block__item {
  margin-bottom: 20px;
}

.faq-block__question {
  margin-top: 0;
  margin-bottom: 10px;
  color: #00569d;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: underline;
}

.faq-block__answer {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

.faq-block__answer p,
.faq-block__answer ul {
  margin-top: 4px;
  margin-bottom: 4px;
}

.faq-block__answer ul {
  padding-left: 20px;
}

.faq-block__answer a {
  color: #004086;
}
